@media screen and (max-width: 1000px) {
	.col{
		width: 95%;
	}
	.buy-max::before{
		content: '+';
	}
	.popmessage{
		width: 70%;
	}
}
@media screen and (min-width:1000px){
	.col{
		width: 45%;
	}
	.buy-max::before{
		content: '最大';
	}
	.popmessage{
		width: 18%;
	}
}

.col{
	margin: 0 2.5%;
	float: left;
}

.buy-max:disabled{
	display: none;
}

.popmessage{
	position: fixed;
	top: 0;
	right: 0;
	background: rgba(0.5, 0.5, 0.5, 0.5);
	border: 1px gray solid;
	border-radius: 5px;
	background: white;
	padding: 4px 8px;
}

.area{
	width: 100%;
	float: left;
}

.docblock{
	width:100%;
	height:250px;
	overflow: auto;
	border: 2px #444444 solid;
	/* color:#bbff00 */
}

.ww{
	width:100%;
}

.truthupgrade input[type=range]{
	width: 100%;
}

.truthupgrade input[type=number]{
	width: calc(100% - 4px);
}

.needed{
	color: gray;
}

.danger{
	color:red;
}

.help{
	cursor: help;
	border-bottom: 1px gray dashed;
}

button{
	cursor: pointer;
	margin: 4px 0;
}

.siyuan{
	display: inline-block;
	font-weight: bold;
	font-size: 0.9em;
	font-weight: 700;
	padding-inline-start: 2px;
	padding-inline-end: 2px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif,
}
.siyuan{
	color:red;
}
.siyuan:first-letter{
	color:black !important;
}

.nya{
	color: palevioletred;
}

.model-alert-shader{
	position: fixed;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	/* z-index: 1; */
	background: rgba(0.5, 0.5, 0.5, 0.5);
}

.model-alert{
	position: fixed;
	left: 35%;
	top: 35%;
	width: 30%;
	height: 30%;
}

.model-alert-inner{
	position: relative;
	width: calc(100% - 18px);
	height: auto;
	border: 1px gray solid;
	border-radius: 5px;
	background: white;
	padding: 4px 8px;
	z-index: 2;
}

p{
	margin:0;
}
h4,h5,h6,blockquote{
	margin-block-start: 8px;
	margin-block-end: 8px;
}